[Desktop Entry]
Encoding=UTF-8
Name=Link to Notepad | Online Notepad free, no login required - RapidTables
Type=Link
URL=https://www.google.es/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwidrPe5moTWAhVDLVAKHW3xCf8QFggmMAA&url=http%3A%2F%2Fwww.rapidtables.com%2Ftools%2Fnotepad.htm&usg=AFQjCNGY1jxmEGsXfI79YgCsyQuZAj7B3A
Icon=text-html
